body{
    background-color: #EBEEF4;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 4rem;
}

.title{
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 400;
    color: #121738;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
}